{% extends 'booru/base.html' %}

{% block css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'booru/css/index.css' %}"/>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block body %}
    {% load static %}
    {% include 'booru/navbar.html' %}
    <div class="container">
        <div class="row mt-4">
            <h1>Tag alias: {{object.from_tag}} → {{object.to_tag}}</h1> 
        </div>
        <div class="row">
            <div id="table" class="col mt-3">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <td><strong>From:</strong></td>
                            <td>{{object.from_tag}}</td>
                        </tr>
                        <tr>
                            <td><strong>To:</strong></td>
                            <td>{{object.to_tag}}</td>
                        </tr>
                        <tr>
                            <td><strong>Creator:</strong></td>
                            <td>{{object.author}}</td>
                        </tr>
                        <tr>
                            <td><strong>Date:</strong></td>
                            <td>{{object.timestamp}}</td>
                        </tr>
                        <tr>
                            <td><strong>Approver:</strong></td>
                            <td>{{object.approver}}</td>
                        </tr>
                        <tr>
                            <td><strong>Status:</strong></td>
                            <td>{{object.get_status_display}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}