{% extends 'booru/base.html' %}

{% block css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'booru/css/index.css' %}"/>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Edit gallery: <a href="{{gallery.get_absolute_url}}">{{gallery}}</a></h1>
    </div>
    <form method="post" enctype="multipart/x-www-form-urlencoded">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{field.auto_id}}">{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
