{% extends 'booru/base.html' %}

{% block css %}
    {% load staticfiles %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Tag implication: {{object.from_tag}} → {{object.to_tag}}</h1>
    </div>
    <div class="row">
        <div id="table" class="col mt-3">
            <table class="table table-sm">
                <tbody>
                    <tr>
                        <td><strong>From:</strong></td>
                        <td>
                            {% with color='#'|add:object.from_tag.category.color %}
                            <a class="font-weight-bold" style="color: {{color}};" href="{% url 'booru:tag_detail' object.from_tag.id %}">?</a>
                            <a style="color: {{color}};" href="{{ object.from_tag.get_search_url }}">{{object.from_tag}}</a>
                            {% endwith %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>To:</strong></td>
                        <td>
                            {% with color='#'|add:object.to_tag.category.color %}
                            <a class="font-weight-bold" style="color: {{color}};" href="{% url 'booru:tag_detail' object.to_tag.id %}">?</a>
                            <a style="color: {{color}};" href="{{ object.to_tag.get_search_url }}">{{object.to_tag}}</a>
                            {% endwith %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Creator:</strong></td>
                        <td>{{object.author}}</td>
                    </tr>
                    <tr>
                        <td><strong>Date:</strong></td>
                        <td>{{object.timestamp}}</td>
                    </tr>
                    <tr>
                        <td><strong>Approver:</strong></td>
                        <td><a href="{{object.approver.get_absolute_url}}">{{object.approver}}</a></td>
                    </tr>
                    <tr>
                        <td><strong>Status:</strong></td>
                        <td>{{object.get_status_display}}</td>
                    </tr>
                </tbody>
            </table>
            {% if request.user.is_staff %}
            <div class="row">
                <a href="{% url 'booru:implication_approve' object.id %}" class="btn btn-success btn-sm">Approve</a>
                <a href="{% url 'booru:implication_disapprove' object.id %}" class="btn btn-danger btn-sm">Disapprove</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}