{% extends 'booru/base_index.html' %}

{% block css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'booru/css/index.css' %}"/>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center site-title"><a href="#">{{SITE_TITLE}}</a></h1>
        </div>            
    </div>
    <div class="row text-center">
        <div class="col">                    
            <a href="{% url 'booru:posts' %}" class="btn font-weight-bold" title="A paginated list of every post">Posts</a>
            <a href="#" class="btn disabled" title="All comments listing">Comments</a>
            <a href="#" class="btn disabled" title="Forum listing">Forum</a>
            <a href="#" class="btn disabled" title="Wiki pages with database documentation">Wiki</a>
            {% if not user.is_authenticated %}
            <a href="{% url 'account:login' %}" class="btn">Login</a>
            {% else %}
            <a href="{{user.get_absolute_url}}" class="btn" title="Account options">My Account</a>
            {% endif %}
            <a href="#" class="btn disabled" title="Help page and tools">»</a>
        </div>
    </div>
    <form action="{% url 'booru:posts' %}">
        <div class="form-row mt-3 mb-3">
            <div class="col">
                <input name="tags" class="tag-search form-control form-control-sm" type="search" aria-label="Search" placeholder="lorem_ipsum dolor_sit" hidden>
            </div>
            <div class="col-1">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col text-center">
            Running <a href="https://github.com/Boorunaut/Boorunaut">Boorunaut</a> Alpha 0.2.0 - <a href="{% url 'core:terms_of_service' %}">Terms of service</a>
        </div>
    </div>

    <div class="row">
        <div class="index-separator col pt-5 pb-4">
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <small>Original concept by <a href="https://github.com/r888888888/danbooru">Danbooru</a></small>
        </div>
    </div>
</div>
{% endblock %}