{% extends 'booru/base.html' %}

{% block css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'booru/css/index.css' %}"/>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block body %}
    {% load static %}
    <div class="container">
        <form method="get" enctype="text/plain">
            <div class="form-row mt-3 mb-3">
                <div class="col">
                    <input id="tags" name="tags" class="form-control form-control-sm" type="search" aria-label="Search" placeholder="Ex: super_mario_odyssey">
                </div>
                <div class="col-1">
                    <button class="btn btn-sm btn-primary" type="submit">Search</button>
                </div>
            </div>
        </form>

        <div class="row">
            <div id="sidebar" class="col-2">
                <div class="row col">
                    <p class="font-weight-bold">Tags: </p>
                </div>
                {% for tag in post.tags.all %}
                <div class="row col">
                    <a href="#">?</a> <a class="" href="#">{{tag}}</a> 0
                </div>
                {% endfor %}
            </div>
            <div id="post" class="col">
                {% for post in posts %}
                <a href="{{post.get_absolute_url}}"><img src="{{post.preview.url}}" alt=""></a>
                {% endfor %}

                <nav aria-label="..." class="mt-5">
                    <ul class="pagination">
                        {% if page.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="{% url 'booru:post_page_detail' page.previous_page_number %}" tabindex="-1">Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                        {% endif %}
                        {% for i in page.paginator.page_range %}
                            {% if page.number == i %}
                            <li class="page-item active">
                                <a class="page-link" href="{% url 'booru:post_page_detail' i %}">{{i}} <span class="sr-only">(current)</span></a>
                            </li>
                            {% elif i > page.number|add:'-3' and i < page.number|add:'3' %}
                            <li class="page-item">
                                <a class="page-link" href="{% url 'booru:post_page_detail' i %}">{{i}}</a>
                            </li>
                            {% endif %}
                        {% endfor %}
                        {% if page.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="{% url 'booru:post_page_detail' page.next_page_number %}">Next</a>
                            </li>
                        {% else %}                        
                            <li class="page-item disabled">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
