{% extends 'booru/base.html' %}

{% block css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'booru/css/index.css' %}"/>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block body %}
    {% load static %}
    <div class="container">
        {% include 'booru/menu.html' %}
        <form>
            <div class="form-row mt-3 mb-3">
                <div class="col">
                    <input class="form-control form-control-sm" type="search" aria-label="Search" placeholder="Ex: super_mario_odyssey">
                </div>
                <div class="col-1">
                    <button class="btn btn-sm btn-primary" type="submit">Search</button>
                </div>
            </div>
        </form>

        <div class="row">
            <div id="sidebar" class="col-3">
                {% for category, tags in ordered_tags.items %}
                <div class="col mb-3">
                    <div class="row col">
                        <span class="font-weight-bold">{{category}}</span>
                    </div>
                    {% for tag in tags %}
                    <div class="row col">
                        {% if tag.category.label != "general" %}
                        <a style="color:#{{tag.category.color}};" href="#">?</a> <a style="color:#{{tag.category.color}};" href="#">{{tag}}</a> {{tag.get_count}}
                        {% else %}
                        <a href="#">?</a> <a href="#">{{tag}}</a> {{tag.get_count}}
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
                <div class="col mb-3">
                    <div class="row col">
                        <span class="font-weight-bold">Information</span>
                    </div>
                    <div class="row col">ID: {{post.id}}</div>
                    <div class="row col">Uploader: {{post.uploader}}</div>
                    <div class="row col">Date: {{post.timestamp}}</div>
                    <div class="row col">Size: #TODO</div>
                    <div class="row col d-inline-block text-truncate">Source: {{post.source}}</div>
                    <div class="row col">Rating: {{post.rating}}</div>
                    <div class="row col">Score: #TODO</div>
                    <div class="row col">Favorites: #TODO</div>
                    <div class="row col">Status: #TODO</div>
                </div>
            </div>
            <div id="post" class="col">
                <div class="row mb-3">
                    <img src="{{post.get_sample_url}}" alt="">
                </div>
                <div class="row">
                    <button id="show_edit_form" class="btn btn-primary btn-sm">Edit</button>
                </div>
            </div>
        </div>        

        <div id="edit" class="col-6" style="display: none;">
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in form %}
                <div class="form-group">
                    <label for="{{field.auto_id}}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                    <div class="invalid-feedback">
                        {{field.errors}}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}

                <div class="form-group">
                    <div class="col">
                        <button type="submit" id="send" class="btn btn-primary submit-media">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

<script>
    $( document ).ready(function() {
        $( "#show_edit_form" ).click(function() {
            $( "#edit" ).show();
        });
    });    
</script>
{% endblock %}