{% extends 'booru/base.html' %}

{% block css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'booru/css/index.css' %}"/>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block body %}
    {% load static %}
    <div class="container">
        {% include 'booru/menu.html' %}
        <form>
            <div class="form-row mt-3 mb-3">
                <div class="col">
                    <input class="form-control form-control-sm" type="search" aria-label="Search" placeholder="Ex: super_mario_odyssey">
                </div>
                <div class="col-1">
                    <button class="btn btn-sm btn-primary" type="submit">Search</button>
                </div>
            </div>
        </form>

        <div class="row">
            <div id="sidebar" class="col-2">
                {% for category, tags in ordered_tags.items %}
                <div class="row col">
                    <p class="font-weight-bold">{{category}}</p>
                </div>
                {% for tag in tags %}
                <div class="row col">
                    <a href="#">?</a> <a class="" href="#">{{tag}}</a> {{tag.get_count}}
                </div>
                {% endfor %}
                {% endfor %}
            </div>
            <div id="post" class="col">
                <img src="{{post.get_sample_url}}" alt="">
            </div>
        </div>
    </div>
{% endblock %}