{% extends 'booru/base_admin.html' %}

{% block css %}
    {% load staticfiles %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
{% load markdown_deux_tags %}
{% load crispy_forms_tags %}
<div class="col-12 text-white bg-primary">
    <h1 class="h4 text-uppercase p-3 mb-0"><i class="fas fa-tasks mr-3"></i>Moderation Queue</h1>
</div>

<div class="col bg-white pt-3 pb-3">
    <div class="row h2 text-center">
        <div class="col">
            <i class="fas fa-archive"></i> 
            <a href="{% url 'booru:posts' %}?tags=status:pending">
                {{pending_posts.count}} posts waiting approval
            </a>
        </div>
        <div class="col">
            <i class="fas fa-archive"></i> 
            <a href="{% url 'booru:implication-list' %}?status=0">
                {{pending_implications.count}} pending implications
            </a>
        </div>
    </div>
    <div class="row pt-5">
        <h2>Posts flagged for deletion</h2>

        <table class="table table-striped table-hover text-center">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Post</th>
                    <th scope="col">Reason</th>
                    <th scope="col">Creator</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for flag in post_flags %}
                <tr>
                    <th scope="row">{{ flag.id }}</th>
                    <td>
                        <a href="{{ flag.post.get_absolute_url }}">{{ flag.post }}</a>
                    </td>
                    <td>
                        {{ flag.reason |markdown }}
                    </td>
                    <td><a href="{{ flag.creator.get_absolute_url }}">{{ flag.creator }}</a></td>
                    <td>{{ flag.timestamp }}</td>
                    <td>{{ flag.get_status_display }}</td>
                    <td>
                        <a href="{% url 'core:mod_queue_resolve' flag.pk %}" class="btn btn-sm btn-primary">
                            <i class="fas fa-check"></i> Mark as solved
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}